*{
    padding: 0;
    margin: 0;
}

.container{
    height: 100vh;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container img{
    margin: 20px;
}

input{
    width: 1000px;
    height: 50px;
}

input[type="text"]{
    padding-left: 30px;
    color: red;
}
button{
      border: none;
}
.btn button{
    background-color: #f8f9fa;
    border: none;
    padding: 4px;
    margin: 10px auto;
    transition: border 1s ease-in-out;
}

.btn{
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn a{
    margin: 10px;
}

.btn button:hover{
    border: 1px inset black;
}

.logo button{
    background-color: green;
    color: white;
    padding: 10px;
    margin: 10px 0;
}
  

@media only screen and (max-width: 600px) {
    .search-input {
        width: 200px;
        height: 25px;
        font-size: 14px;
    }
}
    
